<%- include('header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
  <!-- Topnav -->
  <%- include('topnav'); -%>
  <!-- Header -->
  <div class="header bg-primary pb-6"
       style="min-height: 500px; background-image: url(../assets/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-3"></span>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">
              Your game statistics!</h6>
          </div>
        </div>
        <!-- Card stats -->
        <%- include('card_stats'); -%>
      </div>
    </div>

  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-5">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent">
            <h3 class="text-white mb-0">Points per Round</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"
                      class="sort"
                      data-sort="name">Rounds</th>
                  <% for (var i=0; i<currentGame.players.length; i++){ %>
                  <th scope="col"
                      class="sort"
                      data-sort="budget">
                    <% if ( currentGame.players[i].name != null){ %>
                    <%= currentGame.players[i].name %>
                    <% } %>
                  </th>
                  <% } %>
                </tr>
              </thead>
              <tbody class="list">
                <% for (var i=0; i<currentGame.players[0].scores.length; i++){ %>
                <tr>
                  <th scope="row">
                    <div id="player1name"
                         class="budget sgs_players_name">
                      <span class="name mb-0 text-sm"><%= i+1 %></span>
                    </div>
                  </th>
                  <td class="budget sgs_players_name">
                    <%= currentGame.players[0].scores[i] %>
                  </td>
                  <td class="budget sgs_players_name">
                    <%= currentGame.players[1].scores[i] %>
                  </td>
                  <% if ( currentGame.players[2].scores != null){ %>
                  <td class="budget sgs_players_name">
                    <%= currentGame.players[2].scores[i] %>
                  </td>
                  <% } %>
                  <% if ( currentGame.players[3].scores != null){ %>
                  <td class="budget sgs_players_name">
                    <%= currentGame.players[3].scores[i] %>
                  </td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="card bg-default">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Points per Round</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('footer'); -%>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<script> 

  //TODO implementation for up to 4 players 

  var currentGame = <%-JSON.stringify(currentGame) %> ;
  console.log(currentGame);
  
  /* Get stats of first player */
  // var player1Name = "<%= currentGame.players[0].name %>";
  // var player1Scores = "<%= currentGame.players[0].scores %>".split(',').map(Number);
  // /* Get stats of second player */
  // var player2Name = "<%= currentGame.players[1].name %>";
  // var player2Scores = "<%= currentGame.players[1].scores %>".split(',').map(Number);


  /* Get number of rounds in a table */
  var length = parseInt("<%= currentGame.players[0].scores.length %>");
  var rounds = [];
  for (var i = 1; i <= length; i++) {
    rounds.push(i);
  }

  var colors = ["#3e95cd", "#5e72e4",  "#77e673" , "#e6c473"]; 
  var datasets = []; 

  for(var i=0; i<4; i++){
    if( currentGame.players[i].name != null){
      datasets.push({
          label: currentGame.players[i].name,
          borderColor: colors[i],
          fill: false,
          data: currentGame.players[i].scores
      });
    }
  }

  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: rounds,
      datasets: datasets
    },
    options: {
      responsive: true,
      legend: {
        display: true,
        position: "top",
        align: "end",
        labels: {
          fontSize: 18,
          fontFamily: "'Roboto', sans-serif",
          fontColor: '#FFFFFF',
          fontStyle: '500',
          boxWidth: 40
        }
      },
      scales: {
        xAxes: [{
          ticks: {
            fontSize: 14,
            fontFamily: "'Roboto', sans-serif",
            fontColor: '#FFFFFF',
            fontStyle: '500'
          },
          gridLines: {
            drawOnChartArea: false
          }
        }],
        yAxes: [{
          ticks: {
            fontSize: 14,
            fontFamily: "'Roboto', sans-serif",
            fontColor: '#ffffff',
            fontStyle: '500'
          },
          gridLines: {
            drawOnChartArea: false
          }
        }]
      }
    }
  });
</script>


<%- include('end_file'); -%>