<%- include('header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
  <!-- Topnav -->
  <%- include('topnav'); -%>
  <!-- Header -->
  <div class="header bg-primary pb-6"
       style="min-height: 500px; background-image: url(../assets/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-3"></span>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h1 text-white d-inline-block mb-0">
              Your game statistics!</h6>
          </div>
          <div class="col-lg-6 col-7">
            <a href="/profile"
             class="btn btn-neutral">Go back to profile page</a>
          </div>
        </div>
        <div class="row">
           <!--TODO choose which statistic to be shown -->
          <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <p class="h3 text-white d-inline-block">Choose your game statistics</p>
          </div> -->
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <!-- Card stats -->
            <%- include('card_stats'); -%>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-5">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent">
            <h3 class="text-white mb-0">Points per Round</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th>Rounds</th>
                  <% for (var i=0; i<gameStats.names.length; i++){ %>
                  <th><%= gameStats.names[i] %></th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0; i<gameStats.scores[0].length; i++){ %>
                <tr>
                  <th scope="row">
                    <div id="player1name"
                         class="sgs_players_name">
                      <span class="name"><%= i+1 %></span>
                    </div>
                  </th>
                  <% for (var j=0; j<gameStats.names.length; j++){ %>
                  <td class="sgs_players_name">
                    <%= gameStats.scores[j][i] %>
                  </td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
        <div class="card bg-default">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 text-white mb-0">Game progress</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<%- include('footer'); -%>
<%- include('end_file'); -%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<script>
  //TODO vertical cursor during mouse-over 
  /* Get game */
  var gameStats = <%-JSON.stringify(gameStats) %> ;

  /* Get number of rounds in a table */
  var length = parseInt("<%= gameStats.scores[0].length %>");
  var rounds = [];
  for (var i = 1; i <= length; i++) {
    rounds.push(i);
  }

  /* Create the sum scores */
  var sumScoresPerRound = <%-JSON.stringify(sumScoresPerRound) %>;

  /* Set colors */ //TODO insert many colors just in case of multiple players etc 20 
  var colors = ["#3e95cd", "#5e72e4", "#77e673", "#e6c473"];
  var datasets = [];

  for (var i = 0; i < gameStats.names.length; i++) {
    datasets.push({
      label: gameStats.names[i],
      borderColor: colors[i],
      fill: false,
      data: sumScoresPerRound[i]
    });
  }

  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: rounds,
      datasets: datasets
    },
    options: {
      responsive: true,
      legend: {
        display: true,
        position: "top",
        align: "end",
        labels: {
          fontSize: 18,
          fontFamily: "'Roboto', sans-serif",
          fontColor: '#FFFFFF',
          fontStyle: '500',
          boxWidth: 40
        }
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: "Rounds",
            fontFamily: "'Roboto', sans-serif",
            fontSize: 14,
            fontColor: "#FFFFFF"
          },
          ticks: {
            fontSize: 14,
            fontFamily: "'Roboto', sans-serif",
            fontColor: '#FFFFFF',
            fontStyle: '500'
          },
          gridLines: {
            drawOnChartArea: false
          }
        }],
        yAxes: [{
          scaleLabel: { //TODO LABEL breaks in zoom-in, zoom-out
            display: true,
            labelString: "Points",
            fontFamily: "'Roboto', sans-serif",
            fontSize: 14,
            fontColor: "#FFFFFF"
          },
          ticks: {
            fontSize: 14,
            fontFamily: "'Roboto', sans-serif",
            fontColor: '#ffffff',
            fontStyle: '500'
          },
          gridLines: {
            drawOnChartArea: false
          }
        }]
      }
    }
  });


  var resizeId;
  
  $(window).resize(function () {
    clearTimeout(resizeId);
    resizeId = setTimeout(afterResizing, 100);
  });

  function afterResizing() {
    var canvasheight = document.getElementById("myChart").height;
    if (canvasheight <= 250) {
      window.chart1.options.legend.display = false;
    } else {
      window.chart1.options.legend.display = true;
    }
    window.chart1.update();
  }

</script>