<%- include('partials/header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
  <!-- Topnav -->
  <%- include('partials/topnav'); -%>
  <!-- Header -->
  <!-- Header -->
  <div class="header pb-6 d-flex align-items-center"
       style="min-height: 500px; background-image: url(../assets/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-5"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 class="display-2 text-white">Hello <%= name %></h1>
          <a href="/euxp1q23yqfg167s4316g4sq"
             class="btn btn-neutral">Go to Konstantina's profile</a>
          <a href="/5fae6b01eeab478c1207e2bf"
             class="btn btn-neutral">Go to Christos' profile</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-3">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Your statistics, <%= name %></h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"
                    class="sort"
                    data-sort="name">Category</th>
                <th scope="col"
                    class="sort"
                    data-sort="budget">Statistic</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('victories')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Victories</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('victories')">
                  <%= positionStats.pos1stats.games.length %>
                </td>
              </tr>
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('2ndPosition')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">2nd Positions</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('2ndPosition')">
                  <%= positionStats.pos2stats.games.length %>
                </td>
              </tr>
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('3rdPosition')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">3rd Positions</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('3rdPosition')">
                  <%= positionStats.pos3stats.games.length %>
                </td>
              </tr>
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('4thPosition')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">4th Positions</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('4thPosition')">
                  <%= positionStats.pos4stats.games.length %>
                </td>
              </tr>
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('allLoses')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Losses Total</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('allLoses')">
                  <%= positionStats.posAllLosesStats.games.length %>
                </td>
              </tr>
              <tr id="cell_hover">
                <th scope="row">
                  <div class="media align-items-center"
                       onclick="populateTable('allGames')">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Games Total</span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable('allGames')">
                  <%= positionStats.posAllGamesStats.games.length %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Your opponents, <%= name %></h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"
                    class="sort"
                    data-sort="name">Name</th>
                <th scope="col"
                    class="sort"
                    data-sort="budget">Wins</th>
                <th scope="col"
                    class="sort"
                    data-sort="budget">Lost</th>
                <th scope="col"
                    class="sort"
                    data-sort="budget">Ties</th>
              </tr>
            </thead>
            <tbody class="list">
              <% for (var i=0; i<opponents.length; i++){ %>
              <tr id="cell_hover">
                <th scope="row"
                    onclick="populateTable('UserID:' + '<%= opponents[i]._id %>')">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm"><%= opponents[i].name %> </span>
                    </div>
                  </div>
                </th>
                <td class="budget"
                    onclick="populateTable(opponents[i])">
                  <%= opponents[i].victories %>
                </td>
                <td class="budget"
                    onclick="populateTable(opponents[i])">
                  <%= opponents[i].losses %>
                </td>
                <td class="budget"
                    onclick="populateTable(opponents[i])">
                  <%= opponents[i].ties %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-9">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0"
                  id="general-table-title">Your Games, <%= name %></h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush"
                     id="parentDiv">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"
                        class="sort"
                        data-sort="name">Player 1</th>
                    <th scope="col"
                        class="sort"
                        data-sort="budget">Player 2</th>
                    <th scope="col"
                        class="sort"
                        data-sort="status">Player 3</th>
                    <th scope="col"
                        class="sort"
                        data-sort="status">Player 4</th>
                    <!-- <th scope="col"
                        class="sort"
                        data-sort="status">Statistics</th> -->
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <td scope="row">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"
                                class="sort"
                                data-sort="name">Name</th>
                            <th scope="col"
                                class="sort"
                                data-sort="budget">Score</th>
                          </tr>
                        </thead>
                        <tbody class="list"
                               id="general-player0-table-body">
                          <% for (var i=0; i<positionStats.posAllGamesStats.games.length; i++){ %>
                          <tr id="cell_hover"
                              class="all_cells_hover">
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">

                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.games[i].players[0].name %></span>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.scores[i][0] %>
                                      </span>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </td>
                    <td scope="row">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"
                                class="sort"
                                data-sort="name">Name</th>
                            <th scope="col"
                                class="sort"
                                data-sort="budget">Score</th>
                          </tr>
                        </thead>
                        <tbody class="list"
                               id="general-player1-table-body">
                          <% for (var i=0; i<positionStats.posAllGamesStats.games.length; i++){ %>
                          <tr id="cell_hover"
                              class="all_cells_hover">
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.games[i].players[1].name %></span>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.scores[i][1] %>
                                      </span>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </td>
                    <td scope="row">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"
                                class="sort"
                                data-sort="name">Name</th>
                            <th scope="col"
                                class="sort"
                                data-sort="budget">Score</th>
                          </tr>
                        </thead>
                        <tbody class="list"
                               id="general-player2-table-body">
                          <% for (var i=0; i<positionStats.posAllGamesStats.games.length; i++){ %>
                          <tr id="cell_hover"
                              class="all_cells_hover">
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <% if ( positionStats.posAllGamesStats.games[i].players[2].name != null){ %>
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.games[i].players[2].name %> </span>
                                      <% } else { %>
                                      <span class="name mb-0 text-sm">
                                        &nbsp; </span>
                                      <% } %>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <% if ( positionStats.posAllGamesStats.scores[i][2] > 0){ %>
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.scores[i][2] %> </span>
                                      <% } else { %>
                                      <span class="name mb-0 text-sm">
                                        &nbsp; </span>
                                      <% } %>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </td>
                    <td scope="row">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"
                                class="sort"
                                data-sort="name">Name</th>
                            <th scope="col"
                                class="sort"
                                data-sort="budget">Score</th>
                          </tr>
                        </thead>
                        <tbody class="list"
                               id="general-player3-table-body">
                          <% for (var i=0; i<positionStats.posAllGamesStats.games.length; i++){ %>
                          <tr id="cell_hover"
                              class="all_cells_hover">
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <% if ( positionStats.posAllGamesStats.games[i].players[3].name != null){ %>
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.games[i].players[3].name %> </span>
                                      <% } else { %>
                                      <span class="name mb-0 text-sm">
                                        &nbsp; </span>
                                      <% } %>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                            <td>
                              <form action="/game/<%= positionStats.posAllGamesStats.games[i]._id %>"
                                    method="post">
                                <button type="submit"
                                        name="game_id"
                                        value="<%= positionStats.posAllGamesStats.games[i]._id %>"
                                        class="my-btn-link">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <% if ( positionStats.posAllGamesStats.scores[i][3] > 0){ %>
                                      <span class="name mb-0 text-sm">
                                        <%= positionStats.posAllGamesStats.scores[i][3] %> </span>
                                      <% } else { %>
                                      <span class="name mb-0 text-sm">
                                        &nbsp; </span>
                                      <% } %>
                                    </div>
                                  </div>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </td>
                    <!-- <td scope="row">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"
                                class="sort"
                                data-sort="name">Position</th>
                            <th scope="col"
                                class="sort"
                                data-sort="budget">Difference</th>
                          </tr>
                        </thead>
                        <tbody class="list">
                           <% for (var i=0; i<positionStats.posAllGamesStats.games.length; i++){ %>
                          <tr>
                            <td>
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="name mb-0 text-sm"> <%= positionStats.posAllGamesStats.games[i].players[3].name %></span>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="name mb-0 text-sm"> 110 </span>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <% } %> 
                        </tbody>
                      </table>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer'); -%>
  </div>
</div>

<%- include('partials/end_file'); -%>

<script>
  function populateTable(category) {

    //Change the title of the general table & initialize variables
    var length = 0;
    var positionStats = <%-JSON.stringify(positionStats) %> ;
    var posStats;


    //Check if category is a specific user id or a general category 
    if (category.includes("UserID:")) {
      //Specific user ID

      //Bring all opponents 
      var opponents = <%-JSON.stringify(opponents) %> ;

      //Store current opponent id 
      var userID = category.replace("UserID:", "");

      /* Find opponent */
      opponents.forEach(opponent => {
        if (opponent._id === userID) {

          //Replace title 
          $("#general-table-title").text('Your matches against ' + opponent.name);
          length = opponent.opponentsStats.games.length;
          posStats = opponent.opponentsStats;
        }
      });
    } else {
      //General category
      switch (category) {
        case "victories":
          $("#general-table-title").text('Your Victories, <%= name %>');
          length = positionStats.pos1stats.games.length;
          posStats = positionStats.pos1stats;
          break;
        case "2ndPosition":
          $("#general-table-title").text('Your 2nd positions, <%= name %>');
          length = positionStats.pos2stats.games.length;
          posStats = positionStats.pos2stats;
          break;
        case "3rdPosition":
          $("#general-table-title").text('Your 3rd positions, <%= name %>');
          length = positionStats.pos3stats.games.length;
          posStats = positionStats.pos3stats;
          break;
        case "4thPosition":
          $("#general-table-title").text('Your 4th positions, <%= name %>');
          length = positionStats.pos4stats.games.length;
          posStats = positionStats.pos4stats;
          break;
        case "allLoses":
          $("#general-table-title").text('Your Defeats, <%= name %>');
          length = positionStats.posAllLosesStats.games.length;
          posStats = positionStats.posAllLosesStats;
          break;
        case "allGames":
          $("#general-table-title").text('Your Games, <%= name %>');
          length = positionStats.posAllGamesStats.games.length;
          posStats = positionStats.posAllGamesStats;
          break;
        default:
          $("#general-table-title").text('Arrived here!!');
          break;
      }
    }
    //Delete previous tables
    $('#general-player0-table-body').empty();
    $('#general-player1-table-body').empty();
    $('#general-player2-table-body').empty();
    $('#general-player3-table-body').empty();

    for (var i = 0; i < length; i++) {
      for (var j = 0; j < 4; j++) {
        var tempName = posStats.games[i].players[j].name;
        if (posStats.games[i].players[j].name == null) {
          tempName = "\xa0";
        }
        var tempScore = posStats.scores[i][j];
        if (posStats.scores[i][j] == 0) {
          tempScore = "\xa0";
        }
        //Repopulate table with appropriate cells
        $('#general-player' + j + '-table-body').append(
          '<tr id="cell_hover" class="all_cells_hover">  \
            <td> \
              <form action="/game/'+ posStats.games[i]._id +'" \
                    method="post"> \
                <button type="submit" \
                        name="game_id" \
                        value="'+ posStats.games[i]._id +'" \
                        class="my-btn-link"> \
                  <div class="media align-items-center" > \
                    <div class="media-body" > \
                      <span class="name mb-0 text-sm">' + tempName + '</span> \
                    </div> \
                  </div> \
                </button> \
              </form> \
            </td> \
            <td > \
              <form action="/game/'+ posStats.games[i]._id +'" \
                    method="post"> \
                <button type="submit" \
                        name="game_id" \
                        value="'+ posStats.games[i]._id +'" \
                        class="my-btn-link"> \
                  <div class="media align-items-center" > \
                    <div class="media-body"> \
                      <span class="name mb-0 text-sm">' + tempScore + '</span> \
                    </div> \
                  </div> \
                </button> \
              </form> \
            </td> \
          </tr>'
        );
      }
    }

    //Handles the highlight of same rows in different elements (works after user clicks on a category)
    $('.all_cells_hover').hover(
      function () {
        var childNum = $(this).index() + 1;
        $('#parentDiv table tr:nth-child(' + childNum + ')').css("background-color", "rgba(185, 200, 219, 0.863)");
      },
      function () {
        var childNum = $(this).index() + 1;
        $('#parentDiv table tr:nth-child(' + childNum + ')').css("background-color", "inherit");
      }
    );


  }

  //Handles the highlight of same rows in different elements (works in initialization)
  $('.all_cells_hover').hover(
    function () {
      var childNum = $(this).index() + 1;
      $('#parentDiv table tr:nth-child(' + childNum + ')').css("background-color", "rgba(185, 200, 219, 0.863)");
    },
    function () {
      var childNum = $(this).index() + 1;
      $('#parentDiv table tr:nth-child(' + childNum + ')').css("background-color", "inherit");
    }
  );
  
  //TODO sorting the table of games 
  //TODO sorting the table of opponents 

</script>