<%- include('partials/header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
  <!-- Topnav -->
  <%- include('partials/topnav'); -%>
  <!-- Header -->
  <div class="header bg-primary pb-6 scrabble-stats-page-bg-img">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-3"></span>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">
              Scrabble Statistics</h6>
          </div>
        </div>
        <!-- Card stats -->
        <%- include('partials/card_stats'); -%>
      </div>
    </div>
  </div>
  <%- include('partials/table'); -%>
</div>

<%- include('partials/end_file'); -%>